# Default ignored files
/shelf/
/workspace.xml
C:\Users\piede\Desktop\PROJECT\git\Project_2-2\librispeech\clean
librispeech\clean
librispeech\other
librispeech\clean
librispeech\other
C:\Users\piede\Desktop\PROJECT\git\Project_2-2\librispeech\clean
C:\Users\piede\Desktop\PROJECT\git\Project_2-2\librispeech\other